* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(45, 45, 119);
    font-size: 18px;
    min-height: 100vh;
}

header {
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

section {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.6);
}

#msg {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

#foto {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 600px) {
    section {
        width: 90%;
    }

    img {
        width: 180px;
        height: 180px;
    }
}
